body {
    background-color: rgb(135, 206, 250);
}

h1 {
    text-align: center;
    color: red;
    font-size: 44px;
}

h2 {
    text-align: center;
    color: rgb(1, 87, 1);
    font-family: 'Courier New', Courier, monospace;
}

.button1,
.button2,
.button3 {
    font-size: 16px;
    color: black;
}

.button1 {
    background-color: rgba(186, 126, 241, 0.671);
}

.button2 {
    background-color:  rgb(235, 217, 168);
}

.button3 {
    background-color: pink;
}

p {
    text-align: center;
}
